<mat-toolbar color="primary"
  ><mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" value="" /> </mat-form-field
    ></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
