<div class="container">
  <div class="row row-cols-3">
    <div class="col hero-img-wrapper">
      <img
        class="hero-img"
        src="../../assets//images/hero-img.jpg"
        alt=""
        srcset=""
      />
      <div class="img-text">
        <h3 class="img-title">WINTER SALE</h3>
        <span class="ing-content"
          >Checkout Our HotSale Products This Week !</span
        >
      </div>
    </div>
    <div class="col hero-img-wrapper">
      <img
        class="hero-img"
        src="../../assets//images/hero-img.jpg"
        alt=""
        srcset=""
      />
      <div class="img-text">
        <h3 class="img-title">WINTER SALE</h3>
        <span class="ing-content"
          >Checkout Our HotSale Products This Week !</span
        >
      </div>
    </div>
    <div class="col hero-img-wrapper">
      <img
        class="hero-img"
        src="../../assets//images/hero-img.jpg"
        alt=""
        srcset=""
      />
      <div class="img-text">
        <h3 class="img-title">WINTER SALE</h3>
        <span class="ing-content"
          >Checkout Our HotSale Products This Week !</span
        >
      </div>
    </div>
  </div>
</div>
